<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nandaadisaputra.learnroomdatabase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnRoomDatabase"
        tools:ignore="AllowBackup">
        <activity android:name=".activity.EditBiodataActivity" />
        <!-- TODO 52 Semua activity harus terdaftar di AndroidManifest.xml agar dapat di eksekusi -->
        <activity android:name=".activity.AddDataActivity" />
        <!-- MainActivity akan dieksekusi pertama kali karena sebagai MAIN LAUNCHER didalam AndroidManifest.xml -->
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>